.container-fluid {
    padding: 0;
}

.jumbotron {
    background-image: url("/assets/top-image.jpg");
    position: relative;
    background-size: cover;
    background-position: center center;
    padding-bottom: 0;
    padding-top: 0;
}

.show-grid {
    margin-left: 8em;
}

.col-5 {
    padding-left:2em;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col-6 {
    padding-top: 2.5em;
    padding-bottom:2em;
    padding-left:10em;
}

.login {
    margin-top:15px;
    margin-left:0;
}


.button:active {
    background: #ef233c;
    transform: translate(1px, 1px);
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 3em;
    color: White;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
    color: White;
}

p {
    font-family: 'Titillium Web', sans-serif;
    color: black ;
}

.roadmap {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 2em;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-left:3em;
    padding-right:3em;
}

.roadmap-description{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
    color: black;
    padding-left: 3em;
    padding-right: 3em;
}

.card-deck {
    margin: 3em;
    margin-bottom: 2em;
}

.card-body {
    width:200px;
}
.card {
    background-color: rgb(248, 248, 248);
    float: left;
    padding-bottom: 0;
    margin-top: 1rem;
    transition: all .2s ease-in-out;
    border: 0;
}