.container-fluid {
    padding: 0;
}

.jumbotron {
    background-image: url("/assets/top-image.jpg");
    position: relative;
    background-size: cover;
    background-position: top left;
    padding-bottom: 0;
    padding-top: 0;
}

.tag-image {
    float: right;
    margin-right: 4em;
    height: 90%;
    margin-bottom:2em;
}
    
@media only screen and (max-width: 1300px) {
    .tag-image {
    display: none;
    }
}

.col-4 {
    padding-top: 0;
    padding-bottom:2em;
    padding-left:10em;
    padding-right:0;
}

.Add-resource {
    border-radius:20px;
    float: right;
    background-color: rgba(102,235,102, 0.8) !important;
}

.Add-resource:hover {
    background: rgba(102,235,102, 0.95) !important;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/*.Add-resource:focus,
.Add-resource:active {
    background: rgba(102,235,102, 1) !important;
    outline: none !important;
    transform: translate(1px, 1px);
} */

.logout-button.btn.btn-secondary.btn-block.btn-lg {
    float: right !important;
    background: rgba(239,35,60, 0.8) !important;
    border: none;
    border-radius: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.logout-button.btn.btn-secondary.btn-block.btn-lg:hover {
    background: rgba(239,35,60, 0.95) !important;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.logout-button.btn.btn-secondary.btn-block.btn-lg:focus,
.logout-button.btn.btn-secondary.btn-block.btn-lg:active {
    background: #ef233c !important;
    outline: none !important;
    transform: translate(1px, 1px);
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.button:active {
    background: #ef233c;
    transform: translate(1px, 1px);
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 3em;
    color: White;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
    color: White;
}

p {
    font-family: 'Titillium Web', sans-serif;
    color: black !important;
}

.card-deck {
    margin: 3em;
    margin-bottom: 2em;
}
.card {
    background-color: rgb(248, 248, 248);
    float: left;
    padding-bottom: 0;
    margin-top: 1rem;
    transition: all .2s ease-in-out;
    border: 0;
}

/* .card-deck {
    margin: 3em;
    margin-bottom: 2em;
    align-items: top;
}

.card-body {
    width:200px;
}
.card {
    background-color: rgb(248, 248, 248);
    float: left;
    padding-bottom: 0;
    margin-top: 1rem;
    transition: all .2s ease-in-out;
    border: 0;
} */

.icon-row {
    margin-left:2em;
    margin-right:2em;
    margin-top:0;
}