
.card-deck {
    margin: 3em;
    margin-bottom: 2em;
}
.card {
    background-color: rgb(245, 245, 245);
    float: left;
    padding-bottom: 0;
    margin-top: 1rem;
    transition: all .2s ease-in-out;
}

.card-img {
    align-content: center;
    padding: 15px;

}

.card:hover {
box-shadow: 4px 4px 4px rgb(170, 170, 170);
transform: scale(1);
cursor: pointer;
}

.card:active {
transform: translate(1px, 1px);
}

.card-footer {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    color: white;
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 0;
}