.container-fluid {
    padding: 0;
}

.jumbotron {
    background-image: url("/assets/top-image.jpg");
    position: relative;
    background-size: cover;
    background-position: top left;
    padding-bottom: 0;
    padding-top: 0;
}

.coding-hands {
    float: right;
    padding-left: 10em;
    height: 100%;
}

@media only screen and (max-width: 1300px) {
    .coding-hands {
    display: none;
    }
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col-6 {
    padding-top: 2.5em;
    padding-bottom:2em;
    padding-left:10em;
}

.login {
    margin-top:15px;
    margin-left:0;
}

.lets-go-btn {
    padding:0;
}

.disclaimer {
    padding-right: 0;
}

.rogue-text {
    font-family: 'Titillium Web', sans-serif;
    color: White !important;
    font-size:12px;
    text-align: justify;
}

.login-button.btn.btn-secondary.btn-block.btn-lg {
    /* background: #ef233c !important; */
    background: rgba(239,35,60, 0.80) !important;
    border: none;
    border-radius: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.login-button.btn.btn-secondary.btn-block.btn-lg:hover {
    /* background: #ef233c !important; */
    background: rgba(239,35,60, 0.95) !important;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.login-button.btn.btn-secondary.btn-block.btn-lg:focus,
.login-button.btn.btn-secondary.btn-block.btn-lg:active {
    background: #ef233c !important;
    outline: none !important;
    transform: translate(1px, 1px);
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 3em;
    color: White;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
    color: White;
}

p {
    font-family: 'Titillium Web', sans-serif;
    color: White !important;
}

.terms {
    font-family: 'Titillium Web', sans-serif;
    color: black;
    font-size: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

.roadmap {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 2em;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-left:3em;
    padding-right:3em;
}

.roadmap-description{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
    color: black;
    padding-left: 3em;
    padding-right: 3em;
}

.card-deck {
    margin: 3em;
    margin-bottom: 2em;
}
.card {
    background-color: rgb(248, 248, 248);
    float: left;
    padding-bottom: 0;
    margin-top: 1rem;
    transition: all .2s ease-in-out;
    border: 0;
}

/* Sweetalert elements */

/* .swal2-popup.swal2-modal.swal2-show {
    opacity: .9;
} */

.swal2-image {
    width:120px;
}

.swal2-title {
    font-family: 'Titillium Web', sans-serif !important;
    color: rgb(66, 145, 145) !important;
}

#swal2-content {
    font-family: 'Titillium Web', sans-serif !important;
    text-align: left !important;
}