#tutor-logo-bw {
    width:25%;
}

.footer {
    margin-left:3em;
    margin-right:3em;
    margin-top:1em;
    padding: 1em 0 1em 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
}

.footer-text {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

.icon-bw {
    padding: 10px;
}
.navbar-nav {
    font-family: 'Titillium Web', sans-serif;
    color: black;
    font-size: 16px;
    float: right;
    margin-right: 3em;
}

.copyright{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: black;
    margin-bottom: 0;
}
