.card-karma {
    color: white;
}

.card-title {
    color: #429191 !important;
}

/* .button-container {
    align-content: right !important;
    display: inline-block;
} */

/* .btn-success {
    outline:0;
    margin:5px;
}

.btn-danger {
    outline:0;
} */

.no-gutters.row {
    padding:0;
}

.col {
    padding:0;
}

.karma {
    color: white !important;
    margin: 0;
    font-size: .9em;
    padding: 0;
    /* margin-top: .5em; */
    float: left;
}

#bookmark-icon {
    height: 30px;
}

.bookmark-button {
    background-color: transparent !important;
    fill:  rgba(239,35,60, 0.8) !important;
    border: 0;
    outline: none;
    padding: 0;
    float: left;
}



.bookmark-button:hover,
.bookmark-button:focus {
    background-color: transparent !important;
    fill:  rgba(239,35,60, 0.95) !important;
    border: 0;
    outline: none;
    padding: 0;
    float: left;
}

#downvote-icon {
    height: 30px;
}

.downvote-button {
    background-color: transparent !important;
    fill:  rgba(239,35,60, 0.8) !important;
    border: 0;
    outline: none;
    padding: 0;
    float: right;
    margin-right: 5px;
}

.downvote-button:hover,
.downvote-button:focus {
    fill:  rgba(239,35,60, 0.95) !important;
    padding:0;
    cursor: pointer;
}

#upvote-icon {
    height: 30px;
}

.upvote-button {
    background-color: transparent !important;
    fill: rgba(102,235,102, 0.8) !important;
    border: 0;
    outline: none;
    padding: 0;
    float: right;
}

.upvote-button:hover,
.upvote-button:focus {
    fill: rgba(102,235,102, 0.95) !important;
    position:relative;
    padding:0;
    cursor: pointer;
}