.card-karma {
    color: white;
}

.button-container {
    align-content: right !important;
    display: inline-block;
}

.btn-success {
    outline:0;
    margin:5px;
}

.btn-danger {
    outline:0;
}